.main {
  background-color: rgb(150, 150, 150);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 100vh;
  background-color: rgb(216, 216, 216);
}